In [1]:
import pandas as pd 
import numpy as np

## series from list

In [2]:
country = ["india" ,  "bd","Usa","Nepal","Srilanka"]

In [4]:
pd.Series(country)

0       india
1          bd
2         Usa
3       Nepal
4    Srilanka
dtype: object

In [5]:
type(country)

list

## custom index

In [6]:
marks= [67,57,89,100] 
subjects= ["maths","english" ,"science" ,"hindi"]

In [12]:
var = pd.Series(marks, index=subjects,name="amar marks")

In [13]:
var

maths       67
english     57
science     89
hindi      100
Name: amar marks, dtype: int64

## index from dict

In [14]:
 marks= {
     "maths" : 67 ,
     "english" : 89 ,
     "science" : 67 ,
     "bangla" : 87 
 }

In [20]:
pd.Series(marks )

maths      67
english    89
science    67
bangla     87
dtype: int64